.container{
  background-color: red;
}

.sub_main_tournament{
  /* border: 1px solid orange; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  width: 100%;
}

.title_t{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 1em;
}

.img_game{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.img_game img{
  width: 20em;
}
/* 
.info_tournament{
  background-color: purple;
} */

.info_game{
  display: flex;
  width: 100%;
  margin-top: 1em;
  /* justify-content: space-between ; */
  padding-left: 5em;
}

.ig_left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ig_right{
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5em;
}

.description{
  color: #fff;
  padding: 20px 30px 5px 3em;
  text-align: justify;
}


