/* DESKTOP */

.orgPC{
    display: flex;
    height: 100vh;
}

.op {
    position: relative;
    height: 100vh;
    /* width: 100%;*/
    overflow: hidden;
}

.op::before {
    content: "";
    background-image: url(../../assets/bg_tournament.png);
    /* background-size: cover; */
    /* background-position: center; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px); 
    z-index: -1; 
}

.create_org {
    position: relative;
    height: 50vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; /* Mantém o conteúdo acima do fundo */
}



.create_btn{
    background-color: #ff0004;
    color: #fff;
    border: none;
    padding: 10px 10px 10px 10px;
    height: 3em;
    width: 12em;
}

.sub_org{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.game_card2{
    text-align: center;
    color: #fff;
    background-color: #121111;
    width: 20em;
    height: 14em;
    margin-left: 6em;

}

.game_card2 h6{
    margin-top: .6em;
}


.sub_inf{
    display: flex;
    margin-top: .2em;
    color: #fff;
    padding: 10px 20px 0px 20px;
    justify-content: space-between;
}

.subs{
    display: flex;
    flex-direction: column;
}

.join_btn{
    position: relative;
    top: 5%;
    width: 100%;
    background-color: #ff0004;
    color: #fff;
    border: none;
    padding: 7px 10px 10px 10px;
}

.title_card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/car1.png);
    backdrop-filter: blur(2px);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 5em;
    color: #fff;
    z-index: 1; 

}

.sub-item{
    display: flex;
    text-align: center;
}

.col2{
    margin-left: 1em;
}

.sub-item svg{
    margin-right: .3em;
    margin-top: .2em;
}
/* 
.op {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.op::before {
    content: "";
    background-image: url(../../assets/bg_tournament.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px); 
    z-index: -1; 
}

.create_org {
    position: relative;
    height: 50vh;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1; 
} */