.Home-welcome {
    margin-top: var(--navbar-height);
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../assets/welcomebg.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.Home-welcome h1 {
    font-family: 'Rubik Dirt', sans-serif;
    text-align: center;
    color: #FFF;
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.Home-welcome img {
    width: 60%;
}

.Home-selectgame {
    background-color: #000;
    
    padding: 1rem 0rem;

    display: flex;
    flex-direction: column;
}

.Home-selectgame h2 {
    padding-left: 2rem;
    font-family: 'Rubik Dirt';
    font-weight: 400;
    font-size: 1.2rem;
    color: #FFF;
}

.Home-selectgame span {
    font-family: 'Rubik Dirt', sans-serif;
}

.Home-carousel {
    margin-top: 2rem;

    width: 100%;
}

.Home-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-carousel-item img {
    height: 75px;
}

.Home-selectgame button {
    margin-top: 2rem;
    width: 60%;
    align-self: center;
}

/* DESKTOP */

.homePC{
    display: flex;
    height: 100vh;
    /* background-color: beige; */
}

.carousels{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar_home{
    background-color:#121111;
    width: 25%;
}

.logo_home{
    margin-left: 2.5em;
    margin-bottom: 2em;
    margin-top: 2em;
}

.logo_home img{
    width: 15em;
}

a{
    text-decoration: none;
}

.text_nav {
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.line_sidebar_home{
    border: 1px solid #424242;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;

}

.bold_text{
    font-weight: bold;
}

.content_right{
    width: 100%;
}

.subtitle_tounrment{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    color: #fff;
}


.carrousel img{
    height: 18em;
    width: 100%;
}

.item_carr img{
    height: 5em;
    width: 100%;
}

.item_carr{
    width: 5em;
    background-color: #121111;
}

.carr_games{
    text-align: center;
    display: flex;
}

.game_card{
    background-color: #121111;
    width: 20em;
    height: 10em;
    padding: 15px 15px 15px 15px;
    margin-left: 6em;
}

.game_card img{
    width: 18em;
    height: 7em;
}

.car_below{
    margin-top: 2em;
}
.item_car{
    display: flex;
}