@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'roboto condensed';
    margin: 0;
    padding: 0;
}

:root {
    --navbar-height: 4rem;
    --background-color: #000000;
    --primary-color: #f33b3b;
}

body {
    background-color: var(--background-color);
}