body{
    height: 100vh;
}

.R_main{
    background-color: #202020;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;  */

    height: 100vh;
    justify-content: center;
    align-items: center;
}

#h1_R{
    margin-top: 0.5;
    color: aliceblue;
    padding-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em;
}

.sub_main{
    height: 40em;

}

.inputs_R{
    background-color: #202020;
    padding: 10px 110px 10px 10px;
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    margin-bottom: 3em;
    color: aliceblue;
}

.bar{
    margin-left: .2em;
    margin-right: .2em;
}

.date{
    display: flex;
    color: #fff;
    /* border: 1px solid blue; */
    margin-bottom: 0.5em;

}
.inputData{
    font-size: 12px;
    width: 3.5em;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    color: aliceblue;
}
#day{
    margin-left: 0em;
}


.inputs_R2{
    background-color: #202020;
    padding: 10px 10px 10px 10px;
    width: 9em;
    border: none;
    margin-bottom: 2em;
    border-bottom: 2px solid gray;
    border-radius: 3px;
    color: aliceblue;

}

.div_R{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_R2{
    background-color: #202020;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}

.inputs_test{
    width: 10em;
}

#button_R{
    color: aliceblue;
    background-color: red;
    font-size: 12px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    margin: 1em;
    width: 14em;
}

.div_button{
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{float: left;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* DESKTOP */

.org_register{
    display: flex;
    /* border: 1px solid blue; */
}

.title{
    /* border: 1px solid red; */
    background-color: #121111;    
    height: 8em;
    position: relative;
    top: 0;
}


.sub_main_pc{
    /* border: 1px solid orange; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/bg_register.png');
}

.org_text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

.infos_right{
    background-color: #000;
    height: 20em;
    width: 50em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cols_register{
    display: flex;
    flex-direction: column;
}

.cols_item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

#col_register_left{
    margin-right: 4em;
}

.label_register{
    color: #fff;
}

.inputs_register{
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 3px;
    border: none;
    width: 16em;
    margin-top: .5em;
}